{% extends "base.html" %}
{% block title %}個人檔案{% endblock %}
{% block content %}
{% load tag %}

{% if user.id == user_id|to_int %}
<a href="/account/password-change"><img src="/static/images/icon_edit1.png">修改密碼</a>　
<a href="/account/realname"><img src="/static/images/icon_edit2.png">修改姓名</a>　
<a href="/account/school"><img src="/static/images/icon_edit3.png">修改學校</a>　
<a href="/account/email"><img src="/static/images/icon_edit4.png">修改信箱</a><BR><BR>
{% endif %}
  
<section class="wrapper">
  <h1>{{profile.user.first_name}}個人檔案</h1>
<p>信箱：{{profile.user.email}}</p>
<p>學校：{{profile.user.last_name}}</p>
<p>
班級：
{% for enroll in enrolls reversed %}
{{enroll.classroom.name}}({{enroll.seat}}號)
{% endfor %}
 
<section class="wrapper">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a aria-control="tab1" data-toggle="tab" role="tab" href="#tab1">積分</a></li>
    <li role="presentation"><a aria-control="tab2" data-toggle="tab" role="tab" href="#tab2">證書</a></li>
  </ul>
  <section class="tab-content">
    <article id="tab1" class="tab-pane fade in active" role="tabpanel">
  <Table>
<tr><td rowspan=6 width=320><img src="/static/avatar/b{{ profile.avatar }}.png"></td></tr>
<tr><td>總積分</td><td>{{credit}}</td><td><a href="/account/log/0/{{user_id}}">記錄</a></td></tr>
<tr><td>作業積分</td><td>{{profile.work}}</td><td><a href="/account/log/1/{{user_id}}">記錄</a></td></tr>
<tr><td>小老師積分</td><td>{{profile.assistant}}</td><td><a href="/account/log/2/{{user_id}}">記錄</a></td></tr>
<tr><td>除錯積分</td><td>{{profile.debug}}</td><td><a href="/account/log/3/{{user_id}}">記錄</a></td></tr>
<tr><td>創意秀積分</td><td>{{profile.creative}}</td><td><a href="/account/log/4/{{user_id}}">記錄</a></td></tr>
  </Table>       
    </article>
    <!--------------------------------------------------------->
    <article id="tab2" class="tab-pane fade" role="tabpanel">
123
    </article>
  </section>
</section>  
{% endblock %}
{% block domready %}
// Javascript to enable link to tab
var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');  
} 
{% endblock %}
