{% extends "base.html" %}
{% load tag %}
{% block content %}
<!--基礎程式設計-->
{% if lesson == "1" %}
     {{unit|unit_name:lesson}}
     <h1>{{lesson|lesson_name:index}}</h1>
<section class="wrapper">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a aria-control="tab1" data-toggle="tab" role="tab" href="#tab1">範例展示</a></li>
		{% if user.is_authenticated %}		
		{% if lesson|lesson_download:index %}
    <li role="presentation"><a aria-control="tab2" data-toggle="tab" role="tab" href="#tab2">素材下載</a></li>    
    {% endif %}
    <li role="presentation"><a aria-control="tab3" data-toggle="tab" role="tab" href="#tab3">作業上傳</a></li>
    {% endif %}
  </ul>
  <section class="tab-content">
    <article id="tab1" class="tab-pane fade in active" role="tabpanel">
<iframe allowtransparency="true" width="485" height="402" src="http://scratch.mit.edu/projects/embed/{{assignment.0.3}}/?autostart=false" frameborder=“0” allowfullscreen></iframe>			
    </article>
    <!--------------------------------------------------------->
    <article id="tab2" class="tab-pane fade" role="tabpanel">
<a href="/static/files/{{lesson|lesson_download:index}}">檔案下載</a>
    </article>   
    <!--------------------------------------------------------->
    <article id="tab3" class="tab-pane fade" role="tabpanel">
<script>
function checkvalue() { 
    var mystring = document.getElementById('id_memo').value; 
    if(!mystring.match(/\S/)) {
        alert ('請填寫心得~~');
        return false;
    } else {
        return true;
    }
}
</script>

    {{lesson_name}}<BR>
        {% if workfiles %}
            {% if scores.1 > 0 %}
            分數：{{ scores.0 }} / 
            評分者：{{ scores.1 }}
            <BR>心得感想：{{assignment.1.memo}}<BR>			
            {% else %}
            尚未評分        
            <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
            作品檔案：{{ form.file }}<BR>
            心得感想：{{form.memo}}<BR>
            <input type="submit" value="送出" />
            </form>
            {% endif %}
        {% else %}
            狀態：未繳交
            <br>
            <form onsubmit="return checkvalue(this)" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
            作品檔案：{{ form.file }}<BR>
            心得感想：{{form.memo}}<BR>
            <input type="submit" value="送出" />
            </form>
        {% endif %}
        <br>
{% if workfiles %}
{% include "student/embedsb2.html" %}  
{% endif %}
        {% for workfile in workfiles %}
              <BR>第{{workfiles|length|subtract:forloop.counter|add:1}}版：<A href="/student/work/download/{{lesson}}/{{index}}/{{request.user.id}}/{{workfile.id}}">{{workfile.upload_date}}</A>
        {% endfor %}
    </article>       
  </section>
</section>  
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% endif %}
  
{% endblock %}
{% block domready %}
// Javascript to enable link to tab
var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');  
} 
{% endblock %}