{% extends "base.html" %}
{% load tag %}
{% block content %}
<!--基礎程式設計-->
{% if lesson == "1" %}
     {{unit|unit_name}}
     <h1>{{unit|lesson_name:index}}</h1>
<section class="wrapper">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a aria-control="tab1" data-toggle="tab" role="tab" href="#tab1">範例展示</a></li>
		{% if user.is_authenticated %}
    {% if unit|lesson_download:index %}
    <li role="presentation"><a aria-control="tab2" data-toggle="tab" role="tab" href="#tab2">素材下載</a></li>    
    {% endif %}
    <li role="presentation"><a aria-control="tab3" data-toggle="tab" role="tab" href="#tab3">作業上傳</a></li>
    {% endif %}
  </ul>
  <section class="tab-content">
    <article id="tab1" class="tab-pane fade in active" role="tabpanel">
{% include "student/embedsb2.html" %}
    </article>
    <!--------------------------------------------------------->
    <article id="tab2" class="tab-pane fade" role="tabpanel">
12344
    </article>   
    <!--------------------------------------------------------->
    <article id="tab3" class="tab-pane fade" role="tabpanel">
12
    </article>       
  </section>
</section>  
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% endif %}
  
{% endblock %}
{% block userscript %}

{% endblock %}