{% extends "base.html" %}

{% block content %}
{% if lesson == "1" %}
    <div class="sectiontitle">
      <h6 class="heading">{{lesson_list.0.0}}</h6>
    </div>
    <div class="row">
      {% for unit in lesson_list.0.1 %}
      <div class="col-md-2">
        <h6 class="nospace heading">{{unit.0}}({{unit.1|length}})</h6>
        <ul class="nospace">
          {% for assignment in unit.1 %}
          <li><a href="/student/lesson/1/{{forloop.parentloop.counter}}/{{forloop.counter}}">{{assignment.0}}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}    
    </div>

{% elif lesson == "2" %}
進階程式設計
{% endif %}
{% endblock %}