{% extends "base.html" %}
{% load tag %}
{% block title %}Create a question{% endblock %}
{% block content %}
    <table>
    <tr>
        <td>編號</td>      
        <td>主題</td>
        <td>評分者</td>
        <td>分數</td>
        <Td>日期</Td>
        <td>小老師</td>
		<td>組別</td>
        <td>心得</td>

    </tr>
    {% for key, assignment in lesson_dict %}
        <tr align=left>
        <td align=right>{{key}}</td>          
            <td>{{assignment.0}}</td>
            <td>{% if assignment.1 %}{% if assignment.1.scorer == 0  %}<a href="/student/group/work/{{forloop.counter}}/{{classroom_id}}">尚未評分</a>{% else %}{{assignment.1.scorer|name}}{% endif %}{% endif %}</td>
            {% if assignment.1.score == -1 %}
                <td>已繳交</td>
            {% else %}
                <td>{{assignment.1.score}}</td>
            {% endif %}
            <td>{{assignment.1.publication_date|date:"Y/m/d h:i" }}</td>
            <td>{% if lesson.6 == 1 %}<a href="/teacher/score_peer/{{c}}/{{classroom_id}}/{{group}}">小老師</a>{% endif %}</td> 
            <td><A href="/student/group/work/{{ forloop.counter }}/{{classroom_id}}">查詢</A></td>			
            <td><A href="/student/memo/{{classroom_id}}/{{key}}">心得</a> [<a href="/student/memo_count/{{classroom_id}}/{{key}}">統計]</A></td>
            
        </tr>
    {% endfor %}
    </table>
{% endblock %}