{% extends "base.html" %}
{% block title %} Teachers {% endblock %}
{% block content %}
        <a href="/teacher/classroom/add"><img src="/static/images/icon_class_new.png">新增班級</a> 
        <a href="/teacher/student/list"><img src="/static/images/icon_class_new.png">學生帳號</a> 
        <table>
            <tr>
                <td>名稱</td>
                <Td>課程</Td>
                <td>密碼</td>
                <td>功能</td>
        {% for classroom in classrooms %}
            <tr>
            <td>{{classroom.name}}</td>
            <td>{{classroom.lesson_choice}}</td>
            <td>{{classroom.password}}</td>
            <td>
                <a href="/teacher/classroom/edit/{{classroom.id}}">修改</a>|			
                <a href="/student/classmate/{{classroom.id}}">學生</a>|
                <a href="/teacher/announce/{{classroom.id}}">公告</a>|
                <a href="/student/group/{{classroom.id}}">組別</a>|
                <a href="/teacher/work/{{classroom.id}}">作業</a>|
							<a href="/teacher/work/group/{{classroom.id}}">小老師</a>|
				<a href="/survey/pre_survey/teacher/{{classroom.id}}">課前問卷</a>|		
				<a href="/survey/post_survey/teacher/{{classroom.id}}">課後問卷</a>|	
							<!---
				<a href="/teacher/memo/{{classroom.id}}">心得</a>|
							<a href="/show/teacher/{{classroom.id}}">創意秀</a>(<A href="/show/teacher/add/{{classroom.id}}" onclick="return confirm('確定要新增嗎?')">新增</A>)|											
            -->
					</td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}