{% extends "base.html" %}
{% load tag %}
{% block title %} Students {% endblock %}
{% block content %}

<BR>
	        {% for key, assignment in lesson_dict %}
	{{key}}){{assignment.0.0}}
<table>
<tr>
<Td width=150>組別</Td>
<td width=150>小老師</td>
<td>組員</td>  
</tr>	
  {% for groups, works, assistants, group_name in assignment.1 %}
                <tr>
									<td nowrap>{{group_name}}</td>
                <td> 
                  {% for assistant in assistants %}
				({{assistant.seat}}){{assistant.student_id|name}}<BR>                            
									{% endfor %}
                </td>
									<td>               
				{% for enroll, score, scorer, memo in works %}                    
            {% if request.user.id in assistants or request.user.id == classroom.teacher_id %}<a target=_blank href="/teacher/scoring/{{classroom.id}}/{{enroll.student_id}}/{{classroom.lesson}}/{{assignment.0.2}}">{% endif %}({{enroll.seat}}){{enroll.student.first_name}}{% if request.user.id in assistant or request.user.id == classroom.teacher_id %}</a>{% endif %}
					  -{% if score == -2 %}<font color=grey>尚未繳交</font>{% else %}{% if score > 0 %}{{score}}{% else %}<font color=red>尚未評分</font>{% endif %}{% endif %}
					
				{% endfor %}
				</td>
  </tr>
  {% endfor %}
</table>
{% endfor %}
{% endblock %}