{% extends "base.html" %}
{% block title %}Create a question{% endblock %}
{% block content %}
    <table>
    <tr>
        <td>編號</td>
        <td>作品</td>
        <td>班級</td>
        <td>心得</td>      
    </tr>
    {% for key, assignment in lesson_dict %}
        <tr align=left>
        <td>{{key}}</td>
        <td>{{assignment}}</td>
            <td><a target=_blank href="/teacher/score/{{classroom.id}}/{{classroom.lesson}}/{{key}}">{{classroom.name}}</a></td>
          <td><a target=_blank href="/student/memo/{{classroom.id}}/{{classroom.lesson}}/{{key}}">心得</a> [<a target=_blank href="/student/memo_work_count/{{classroom.id}}/{{classroom.lesson}}/{{key}}">統計</a>]</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}